			<article>
				<header>
					{{#if data.post.image}}<img src="{{{cloudinaryUrl data.post.image crop='fill' aspect_ratio= '16:9' gravity= auto height= 400px }}}" class="img-responsive">{{/if}}
					<h6>{{data.post.publishedDate}}</h6>
					<h5>
						{{{categoryList data.post.categories prefix="Posted in "}}}
					</h5>
				</header>
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<div class="post">
					<h1>{{data.post.title}}</h1>
					<div class="post-content">{{{data.post.content.extended}}}</div>
				</div>
			</div>
		</div>
	</div>
			</article>
